nav {
  padding: 20px;
  font-size: 18px;
}

nav div {
  display: inline-block;
}

nav a:first-child {
  margin-left: 10px;
}

nav a {
  margin-right: 20px;
}

nav .a-active {
  font-weight: bold;
}

@media (max-width: 480px) {
  nav div {
      margin-top: 20px;
  }
}
